x64/
Debug/
Release/
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.exe

.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log
*.ipch
*.sdf
*.tlog
*.cache
*.db

Thumbs.db
.DS_Store

include/glm/